<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <div class="card">
            <div class = "card-header">
                <h2>Editar Artigo</h2>
            </div>
            <div class="card-body">
            <form method="POST" action="/articles/update">
                <input type="hidden" value="<%= article.id %>" name="id">
                <input class="form-control" type="text" name="title" placeholder="Defina o titulo do Artigo" value=" <%= article.title %>"><br>
                <textarea class="form-control" name="body" id="article" placeholder="Escreva o seu artigo"></textarea><br>
                <label>Categorias</label>
                <select class="form-control" name="category">
                    <% categories.forEach((category) => { %>
                        <% if(category.id == article.categoryId) { %>
                            <option value="<%= category.id %>" selected> <%= category.title %> </option>
                        <% } else { %>
                            <option value="<%= category.id %>"> <%= category.title %> </option>
                        <% } %>
                    <% }); %>
                </select>
                <br>
                <button class="btn btn-success">Atualizar</button>
            </form>
        </div>
        </div>
    </div>

        <div id="content" style="display: none;">
            <%- article.body %>
        </div>

    <%- include ('../../partials/footer.ejs')%>
    <script src="/tinymce/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            language: ['pt-BR'],
            selector: "#article",
            plugins:[
                // Core editing features
                'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
                // Your account includes a free trial of TinyMCE premium features
                // Try the most popular premium features until Feb 19, 2025:
                'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown','importword', 'exportword', 'exportpdf',
            
                'advlist', 'autolink', 'print', 'preview', 'hr', 'fullscreen', 'insertdatetime', 'save', 'paste', 'emoticons'
            ],
            init_instance_callback: () => {
                tinymce.activeEditor.setContent(document.getElementById('content').innerHTML);
                //tinymce.get("article").setContent($("#content").html())
                //tinymce.activeEditor.setContent($("#content").html())
            }
        })
    </script>